/********************
 * FEATURE CAROUSEL *
 ********************/

.carousel-outer {
/*     position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; */
}
.carousel-container {
/*   position:relative;
       width:960px; */
/*      width: 100%; */

    position: fixed;
    background: #000;
    border: none;
    top: 0; right: 0;
    bottom: 0; left: 0;
    width: 100%;
    height: 100%;
}
#carousel {
/*    height:400px;
   width:960px; */
  width: 100%;
  height: 100%;
  background-color:#CCC;
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
}
.carousel-image {
  border: 3px ridge ; ;
  display:block;

}
.carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  border:2px solid #5d5d5d;
  cursor:pointer;
}
.carousel-feature .carousel-caption {
  position:absolute;
  bottom:0;
  width:100%;
  background-color:#000;
}
.carousel-feature .carousel-caption p {
  margin:0;
  padding-left: 5px;
  font-weight:bold;
  font-size:12px;
  color:white;
}
.tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
/*   top:230px; */
  padding:3px;
  margin:3px;
/*   background-color: #28456c; */
  bottom: 30px;
}
.tracker-individual-container {
  position:absolute;
  color:white;
  right:48px;
/*   top:210px; */
  padding:0;
  margin:0;
  bottom :10px;
}
.tracker-individual-container li {
  list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
  background-color:#DDD;
}
.tracker-individual-container .tracker-individual-blip-selected {
  color:white;
  font-weight:bold;
  background-color:#000;
}
#carousel-left {
  position:absolute;
   bottom:50%;
  left:20px;
  cursor:pointer;
}
#carousel-right {
  position:absolute;
  bottom:50%;
  right:20px;
  cursor:pointer;
}
